{% extends "home.html" %}
{% block content %}
<h2>Change password</h2>
<form method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    <label>Current password</label>
    {{ form.old_password }} {{ form.old_password.errors }}
  </div>
  <div>
    <label>New password</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
  </div>
  <div>
    <label>Confirm new password</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
  </div>

  <button type="submit" class="px-4 py-2 bg-green-600 text-white rounded">Update password</button>
</form>
{% endblock %}
